12 - Swarm Agents/Calendar Workflow.json
{
  "name": "Calendar Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}\n\ntime : {{ $now }}\n\nToday : {{ $today }}\n\nThis is the date format expected is IST format, which is YYYY-MM-DDThh:mm:ss+00:00 \n\nAlso (Take care we are in India )\n\n",
        "options": {
          "systemMessage": "You are the Calendar Agent. Execute Google Calendar operations using available tools.\nCapabilities:\n\nCreate events (title, start/end time, attendees, location, description)\nUpdate events (modify details, reschedule)\nDelete events\nCheck availability (find free slots)\nList events (filter by date range)\n\nInstructions:\n\nParse incoming requests for event parameters (title, datetime, duration, attendees, location)\nALL times MUST be in ISO 8601 format with Asia/Kolkata timezone (+05:30)\nExecute the appropriate Calendar tool\nReturn results as plain text for Telegram (no Markdown, no HTML, escape special chars)\nFor availability checks: return free time slots in ISO 8601 +05:30\nHandle conflicts: suggest alternatives or ask for confirmation\nKeep output concise and under 4096 characters\n\nOutput Format:\nPlain text summary:\n\nAction completed (created/updated/deleted/checked)\nEvent title, date/time in ISO 8601 +05:30\nAttendees and location if applicable\nSuccess/failure status with error details if applicable\n\nBe precise with timestamps and return clean Telegram-ready text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        128
      ],
      "id": "f9cc4b50-e0e5-44f9-b2f1-f2f594e1a478",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "23456",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        304
      ],
      "id": "87ec5ab9-3ad0-42d2-8611-160f5cb8487f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "aieasytounderstand2@gmail.com",
          "mode": "list",
          "cachedResultName": "aieasytounderstand2@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        848,
        480
      ],
      "id": "81d2291d-cbec-4f92-9df7-c0e2e7a38af3",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PGMsp5FJwdsJJkvi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "aieasytounderstand2@gmail.com",
          "mode": "list",
          "cachedResultName": "aieasytounderstand2@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        688,
        480
      ],
      "id": "dd286e15-a7af-4dae-8257-4427ea085ae1",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PGMsp5FJwdsJJkvi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "aieasytounderstand@gmail.com",
          "mode": "list",
          "cachedResultName": "aieasytounderstand@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1152,
        592
      ],
      "id": "680b035e-722a-41d0-af42-d93da88064ad",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PGMsp5FJwdsJJkvi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "aieasytounderstand2@gmail.com",
          "mode": "list",
          "cachedResultName": "aieasytounderstand2@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        528
      ],
      "id": "9f43eade-ac3c-42b6-82e8-f0a7bee42954",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PGMsp5FJwdsJJkvi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "aieasytounderstand2@gmail.com",
          "mode": "list",
          "cachedResultName": "aieasytounderstand2@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1440,
        496
      ],
      "id": "035301ee-fe38-416a-b9d0-9b437e0f0fe6",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PGMsp5FJwdsJJkvi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "aieasytounderstand2@gmail.com",
          "mode": "list",
          "cachedResultName": "aieasytounderstand2@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        496
      ],
      "id": "ea1824a7-8409-4813-8d5c-18db92280354",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PGMsp5FJwdsJJkvi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input\":\"Prompt\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        128
      ],
      "id": "67d2d148-dc01-4a80-a0ac-d14d15a5943a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        336
      ],
      "id": "d08e10d6-a78b-4c4f-98d3-0216eb0890e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9O4FzIo3vGUwKyu1",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d823cd94-c180-467a-840a-e632f8387e83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ab6e61273a5598f9b8aca5593755cac8ba4c44d2fab2e9c87a2f6be9ea97aef"
  },
  "id": "r8xFL1D18463ETcY",
  "tags": []
}