12 - Swarm Agents/Research Agent.json
{
  "name": "Research Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=user query :  {{ $json.Input }}",
        "options": {
          "systemMessage": "You are the **Research Agent** combining Tavily Search and Wikipedia.\n\n**Tool Logic:**\n- Wikipedia → structured facts, concepts, definitions.  \n- Tavily → live data, trending, new updates.  \n- Combined → when both background + recency are needed (e.g., “latest ChatGPT updates and what ChatGPT is”).\n\n**Rules:**\n1. Use both tools sequentially when context + current info are required.  \n2. Summarize clearly (3–6 lines max).  \n3. No URLs or Markdown.  \n4. Convert mentioned dates to ISO 8601 +05:30.  \n5. Output Telegram-safe plain text ≤4096 chars.\n\n**Examples:**\n- “What is RAG in AI?” → Wikipedia  \n- “Latest AI tools this week.” → Tavily  \n- “Latest ChatGPT updates.” → Tavily + Wikipedia  \nOutput →  \nChatGPT is an AI system by OpenAI.  \nRecent updates (2025-11-07T00:00:00+05:30): memory recall, faster responses, voice mode. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -16
      ],
      "id": "8467b84e-0575-4578-9fec-0e57ede56628",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        192
      ],
      "id": "2299a30f-89a0-42d5-8253-c07370b4ed71",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5Eue7MzvVyLZTWw7",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "8f3e92e2-2f80-4511-9c6b-bede3fe124b5",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "020832ef-352f-4a6e-9326-6c5d3f1152c3",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        560,
        240
      ],
      "id": "6bdcfdb8-6971-452a-862d-80be2554f248",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "Z3UkNrEt5rsIBSxy",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Input\":\"query\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        0
      ],
      "id": "fd0339c7-b691-4921-9dd2-c500c5b260e5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "248f2f60-9ba4-4a38-bf20-e0d0aec2bd8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ab6e61273a5598f9b8aca5593755cac8ba4c44d2fab2e9c87a2f6be9ea97aef"
  },
  "id": "9ivY1pGxLzK4Lqgt",
  "tags": []
}