9 - Project - Social Media Automation/LInkedIn Post creator.json
{
  "name": "LInkedIn Post creator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        16
      ],
      "id": "3ae8367c-3287-4a6a-82d0-4f32bc43f660",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Hi, can you please generate the 3 linkedin post ideas, based on the below research.\n\n{{ $json.notes }}\n\nMake sure you that you also provide the reference of what exactly is needed to write the post.\n\nOutput 3 ideas like below:\n<topic1>\n<research1>\n\n<topic2>\n<research2>\n\n<topic3>\n<research3>"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        464,
        32
      ],
      "id": "55c6e32e-9a77-4a0d-a676-26be49e36f09",
      "name": "Generate topic/ideas",
      "credentials": {
        "openAiApi": {
          "id": "XYHwRRtJ0hqDZEA5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTIyMTE1MTM5ODAyMjg0ODAzMzI6MDow",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        16,
        48
      ],
      "id": "6d320ec5-8893-4c08-92b0-db3e35fbb1e1",
      "name": "Get many tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "GtRoNfjawi2CSdzm",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant who helps to generate the linkedin post for the user.\n\nYou will be given the content which will have 3 post ideas and reference as below:\n\n{{ $json.output[0].content[0].text }}\n\n\nMake sure that you update the same on google sheet tool provided to you which has 3 columns\n\nTopic\tReference\tPost\n\n\nPost should be concise with a good hook and hashtags in the bottom.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1216,
        192
      ],
      "id": "c9214616-14a1-4966-ae83-6a3e0985dd84",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Google Tasks\n\nTo understand the research performed and storing it so that AI can intercept the data from the tasks list.\n",
        "height": 368,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -112
      ],
      "id": "1d20b02d-de20-4262-acbd-a030c6689850",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## OpenAI 4o MINI\n\nThis model is going to provide ideas for your posts. (Depends on what type of prompt you gave the model).\n\nProviding a specific structure to let him understand and then provide the information for your post.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nStructure provided over here is:\n\nHi, can you please generate the 3 linkedin post ideas, based on the below research.\n\n{{ $json.notes }} ## To dynamically capture the notes updated from the tasks list.\n\nMake sure you that you also provide the reference of what exactly is needed to write the post.\n\nOutput 3 ideas like below:\n<topic1>                  \n<research1>,\n<topic2>\n<research2>,\n<topic3>\n<research3>",
        "height": 656,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -192
      ],
      "id": "4769eb66-a4b9-4cb5-b7bd-fc74ef9f7536",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GHdr8fzT1-yN5BWYeU14l9ptaY_krVBEuMyQpE61e8I",
          "mode": "list",
          "cachedResultName": "Content Ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHdr8fzT1-yN5BWYeU14l9ptaY_krVBEuMyQpE61e8I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GHdr8fzT1-yN5BWYeU14l9ptaY_krVBEuMyQpE61e8I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Topic', ``, 'string') }}",
            "Reference": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reference', ``, 'string') }}",
            "Post": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Post', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reference",
              "displayName": "Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1600,
        352
      ],
      "id": "e4e4d3b5-e851-4631-aaaf-2c2a3c527944",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ciDCQMu0iuMPugwL",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        368
      ],
      "id": "609a0c67-2c53-4d16-bb9c-062b334b75f6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XYHwRRtJ0hqDZEA5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent\n\nWe gave a prompt/system message to the AI Agent mentioning about how the post should be written\nThe prompt was as below:\n\n\"\"\"You are a helpful assistant who helps to generate the linkedin post for the user.\n\nYou will be given the content which will have 3 post ideas and reference as below:\n\n{{ $json.output[0].content[0].text }} ## This would dynamically pick up the content from the previous node that is the generated Idea/topic from the AI model.\nMake sure that you update the same on google sheet tool provided to you which has 3 columns\nTopic\tReference\tPost\nPost should be concise with a good hook and hashtags in the bottom.\"\"\"\n\nWe attached a tool i.e Google sheets to maintain the record of the topic, reference and post (it automatically updates the sheet as per the output generated by the Agent.)\n\nAs a brain of the Agent we attached OpenAI model (GPT 4o-mini)",
        "height": 736,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        -240
      ],
      "id": "855c909f-f21e-433d-ab65-c0379c0b3c3e",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "Generate topic/ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate topic/ideas": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "03408eef-6d2d-439e-9db5-072c7cba010c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78aa8c4c50730b189ab1538294c959b6c2c537ecd85566da901283f70b78a496"
  },
  "id": "BCraPvQ3r8dK2sBb",
  "tags": []
}